[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/var/bots/bot_cleaner/bot
WorkingDirectory=/usr/local/go/bin
User=www-data
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n










###########

[Unit]
Description=Bot go choose reviewer
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/var/bots/bot
Restart=always

[Install]
WantedBy=multi-user.target